# I'm So Happy For Started Learning Python With Static Typing

In [6]:
print("Pakistan Zindabad")
print("Long Live Pakistan")
print("Hello World")

Pakistan Zindabad
Long Live Pakistan
Hello World

# Strings

In [13]:
name = "Rao Fahad Khan"
print(name)
print(type(name)) 
print(id(name))
print([i for i  in dir(name) if "__" not in i])

Rao Fahad Khan
<class 'str'>
1464514091120
['capitalize', 'casefold', 'center', 'count', 'encode', 'endswith', 'expandtabs', 'find', 'format', 'format_map', 'index', 'isalnum', 'isalpha', 'isascii', 'isdecimal', 'isdigit', 'isidentifier', 'islower', 'isnumeric', 'isprintable', 'isspace', 'istitle', 'isupper', 'join', 'ljust', 'lower', 'lstrip', 'maketrans', 'partition', 'removeprefix', 'removesuffix', 'replace', 'rfind', 'rindex', 'rjust', 'rpartition', 'rsplit', 'rstrip', 'split', 'splitlines', 'startswith', 'strip', 'swapcase', 'title', 'translate', 'upper', 'zfill']

In [16]:
name = "Muhammad Qasim"
name = 700
print(name)
print(type(name))
print(id(name))

700
<class 'int'>
1464513582800

In [18]:
name: str = "Muhammad Qasim"
print(name)

Muhammad Qasim

In [22]:
name: int = "fahad"
print(name)
print(type(name))

fahad
<class 'str'>

In [1]:
name: bool = True
print(name)
print(type(name))

True
<class 'bool'>

In [2]:
age:float = 7.0   #float supports whole numbers too
print(age)
print(type(name))

7.0
<class 'bool'>

In [3]:
name: list[str] = ['a','b','c']
print(name)
print(type(name))

['a', 'b', 'c']

In [5]:
name : tuple[str,int,float] = ['fahad', 24, 2.9]
print(name)
print(type(name))

['fahad', 24, 2.9]
<class 'list'>

In [7]:
name : tuple[str,int,float] = ['fahad', 24, '2.9'] #It returns type error when running on .py file
print(name)
print(type(name))

['fahad', 24, '2.9']
<class 'list'>

In [8]:
name : any = ['fahad', 24, '2.9'] #It returns type error when running on .py file
print(name)
print(type(name))

['fahad', 24, '2.9']
<class 'list'>